

.auction__card img{
    width: 200px;
    height: 200px;
}

.attendees__infos{
    cursor: pointer;
}

.attendees__infos img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    object-fit: cover;
    border-width: 1px;
    border-color: var(--primary-color);
    background: #fff;
    margin-bottom: 10px;
}

.attendees__infos span {
    font-size: 13px;
    color: var(--primary-color);
}

.attendees__infos-group h5{
    color: var(--primary-color);
}

.attendees__infos{
    height: 90px;
}