

.table tr td img{
    width: 60px;
    /*height: 80px; */
    object-fit: cover;
}


td span{
    cursor: pointer;
}

td,
th{
    color: var(--primary-color);
}

.delete__product{
    cursor: pointer;
}

.delete__product:hover{
    transform: scale(1.2) !important;
}

.blink_me {
    animation: blinker 1s linear infinite;
    color: red;
    font-weight: 600;
  }
  
  @keyframes blinker {
    90% {
      opacity: 0;
    }
  }


@media only screen and (max-width:576px){
    .cart__subTotal{
        margin-top: 20px;
    }
}