

.table tr td img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}


td span{
    cursor: pointer;
}

td,
th{
    color: var(--primary-color);
}

.delete__product{
    cursor: pointer;
}

.delete__product:hover{
    transform: scale(1.2) !important;
}


@media only screen and (max-width:576px){
    .cart__subTotal{
        margin-top: 20px;
    }
}